mixin plugin-card(plugin)
  div(class=(plugin.deletion ? 'to-be-deleted' : '')).card.mod-card
    img(src=(plugin.bannerImageUrl || '/images/Screenshot_14.png') alt=`banner image for the ${plugin.title} plugin`).card-img-top
    .card-body
      h5.card-title #[b=plugin.title] #[small.d-inline-block.text-muted by #[a(href=`/user/${plugin.maintainer.username}`).stretched-link-exception=plugin.maintainer.username]]
      p.card-text=plugin.description
    .card-footer.pt-0.pb-3.border-0.d-flex.justify-space-between
      .mr-auto
        a(href=`/plugins/${plugin.slug}`).btn.btn-primary.mr-2.stretched-link View plugin
      if plugin.versions.length > 0
        span.align-self-center
          include version-compatibility-badge
          +version-compatibility-badge(plugin.versions[0], true)
      if plugin.deletion
        span.align-self-center
          span(title='This plugin is scheduled for deletion and is not publicly visible anymore.').badge.badge-pill.badge-warning.mx-1 Deletion scheduled
