extends ../layout

block content
    div.row.justify-content-center.my-5.mx-1
        div
            div.card
                div.card-body
                    h5.card-title Forgot password
                    if error
                        div.alert.alert-danger=error
                    else if !reset
                        div.alert.alert-info Don't worry, we got this! Enter 
                            | your email address and we will send 
                            | you a link to reset your password.
                    else
                        div.alert.alert-success Please check your mailbox to reset your password. The mail may have been caught by your spam filter.
                    form(method='post' action='/forgotpassword?' + redirectQuery)
                        div.form-group
                            label(for='email') Email-Adress
                            input(type='email' placeholder='your@mail.com' name='email' value=formContents.email disabled=(reset ? 'disabled' : false) required).form-control#email
                        script(src='https://www.google.com/recaptcha/api.js' async defer)
                        .form-group
                            label(for='captcha') Captcha
                            div(class=(reset ? 'g-recaptcha-disabled' : null) data-sitekey=captchaPublicKey)#captcha.g-recaptcha
                        hr
                        button(type='submit' disabled=(reset ? 'disabled' : false)).btn.btn-primary Forgot password
            ul.mt-2
                li Need an account? #[a(href='/signup?' + redirectQuery) Sign up]
                li Remembered your password? #[a(href='/signin?' + redirectQuery) Sign in]
