extends ../layout

block alerts

block content
    div.row.justify-content-center.my-5.mx-1
        div
            div.card
                div.card-body
                    h5.card-title Sign up with Discord
                    if retry
                        div.alert.alert-danger Sorry, something went wrong with 
                            | your authentication. Please try again by clicking 
                            | #[a(href='/auth/discord') this link].
                    else if error
                        div.alert.alert-danger=error
                    else
                        div.alert.alert-success=`Hi ${discordAccountCreation.discordUserObject.username}#${discordAccountCreation.discordUserObject.discriminator}. Please choose a username to use on this site.`
                    if !retry
                        form(method='post' action='/auth/discord')
                            input(type='hidden' name='token' value=discordAccountCreation.token)
                            div.form-group
                                label(for='username') Username
                                input(type='text' placeholder='Username' name='username' value=(formContents.username || discordAccountCreation.discordUserObject.username)).form-control#username
                            button(type='submit').btn.btn-primary Sign up
