extends layout

block content
    div.index-section#formcontainer
        form(method='post' action='/loader/add' enctype='multipart/form-data').big-form
            h1 Add a mod loader version
            if error
                div#error(style='background-color: red; color: white;')=error
            div(style='width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;')
                label(for='rml-version') RaftModLoader version
                input(type='text' placeholder='rml-version-identifier' name='rmlVersion' maxlength='64' value=(formContents ? formContents.rmlVersion : null) required='required')#rml-version
                br
                label(for='raft-version') Raft version (the update of Raft this loader release was compiled for)
                input(type='text' placeholder='Update X' name='raftVersion' maxlength='255' value=(formContents ? formContents.raftVersion : null) required='required')#raft-version
                br
                label(for='readme-input') Readme (Changelog)
                textarea(placeholder='# Changelog for RaftModLoader version A.B.C\n * Explain what has changed.' name='readme' required='required')#readme-input=(formContents ? formContents.readme : null)
                br
                label(for='downloadUrl') Download URL (enter a link to the file / download page #[b or] upload a file below)
                input(type='url' placeholder='/loader/version/file.exe' name='downloadUrl' value=(formContents ? formContents.downloadUrl : null))#downloadUrl
                br
                label(for='file') Release binary file (upload a file #[b or] enter a link to the file / download page above)
                input(type='file' name='file')#file
            input(type='submit' value='Submit mod loader version' style='display: inline-block; padding: 8px 16px; color: white; font-weight: 600; background-color: green; width: auto; border-radius: 5px; box-shadow: 1px 2px 2px 2px rgba(1,1,1,0.1);')
        ul(style='text-align: left;')
            li #[a(href='/download') Go back to the downloads overview]
