extends layout

block content
    .row.justify-content-center.my-5.mx-1
        div
            .card
                .card-body
                    h5.card-title Change your password
                    form(method='post' action='/account/password')
                        .form-group
                            label(for='currentPassword') Current password
                            input(type='password' placeholder='********' name='currentPassword' aria-describedby='currentPasswordHelp' value=formContents.currentPassword).form-control#currentPassword
                            small.text-muted#currentPasswordHelp Please type in your current password to proove that it's you.
                        .form-group
                            label(for='newPassword') New password
                            input(type='password' placeholder='********' name='newPassword' aria-describedby='newPasswordHelp' value=formContents.newPassword).form-control#newPassword
                            .invalid-feedback#password-feedback
                            small.text-muted#currentPasswordHelp Please type in a new password. It must be at least eigth characters long and contain both an upper-case and lower-case letter and a number.
                        .form-group
                            label(for='confirmPassword') Confirm new password
                            input(type='password' placeholder='********' name='confirmPassword' aria-describedby='confirmPasswordHelp' value=formContents.confirmPassword).form-control#confirmPassword
                            small.text-muted#confirmPasswordHelp Please type in the new password again.
                        button(type='submit').btn.btn-primary Change password
            ul
                li Don't want to change your password? #[a(href='/account') Go back]
    include account/password-validation
    +password-validation-script('newPassword')
