extends layout

block content
    section.my-3
        h1 Contact
        div.card
            div.card-body
                div.card-text
                    p Please use the following email address if you have any issues with this site
                    span traxam
                    span.d-none ignore this, it is for preventing bots from finding the address
                    span @trax.am
