extends layout

prepend pageVariables
  - title = title || ((error && error.status) ? error.status : 'Error')

block alerts

block content
    .row.justify-content-center.my-5
        .card.w-50
            .card-body
                h3.card-title.mb-4=(error.status || 500)
                if error.status === 404
                    p.card-text Sorry, this page does not exist. Please #[a(href='/contact') contact us], if you think that there should be page here.
                else
                    p.card-text It seems like something went wrong on our site.Please let us know about this.
            .card-footer.border-0.mt-0.pt-0.d-flex.justify-content-between.align-items-center
                a(href='/contact').btn.btn-sm.btn-outline-secondary #[i.far.fa-envelope.mr-2] Contact us
                a(href='javascript:history.back()').btn.btn-success Go back
