footer.mt-5
    div.container
        div.row.my-3
            div.col-sm-8.text-left
                | &copy; 2019 | Made by #[a(href='https://trax.am') traxam].
                p.my-3 This website is in no way affiliated with RaftModding,
                    |  Raft, Redbeet Interactive or Axolot Games.
            div.col-sm-4.text-right
                a(href='/contact') Contact and imprint
                br
                a(href='/terms') Terms of Service
                br
                a(href='/privacy') Privacy policy
