footer.mt-5
    .container
        small.text-muted
            hr
            .row.my-3
                .col-sm-7.text-left
                    if newBranding
                        | &copy; 2019 | Made by #[a(href='https://trax.am') traxam] and #[a(href='https://www.hytekgames.net') TeKGameR]. Not affiliated with Raft, Redbeet Interactive or Axolot Games.
                    else
                        | &copy; 2019 | Made by #[a(href='https://trax.am') traxam]. Not affiliated with RaftModding, Raft, Redbeet Interactive or Axolot Games.
                .col-sm-4.text-right
                    a(href='https://gitlab.com/traxam/raft-modding-website/issues').mx-1 Submit an issue
                    a(href='/contact').mx-1 Contact and #{newBranding ? 'disclaimers' : 'imprint'}
                    a(href='/terms').mx-1 Terms of Service
                    a(href='/privacy').mx-1 Privacy policy
                .col-sm-1.text-right
                    button(title='Turn off the lights').btn.btn-outline-secondary.text-center#darkModeSwitchOn 🌑
                    button(title='Turn on the lights').btn.btn-outline-secondary.text-center#darkModeSwitchOff ☀️
    script.
        var darkModeSwitchOn = $("#darkModeSwitchOn");
        var darkModeSwitchOff = $("#darkModeSwitchOff");
        var darkMode = false;

        $(function() {
            if (localStorage) {
                darkMode = localStorage.getItem("darkMode") == "true";
            }
            if (darkMode) {
                darkModeSwitchOn.hide();
            } else {
                darkModeSwitchOff.hide();
            }
        });

        darkModeSwitchOn.click(function() {
            darkModeSwitchOn.hide();
            darkModeSwitchOff.show();
            darkMode = true;
            document.body.setAttribute("data-theme", "dark");
            if (localStorage) {
                localStorage.setItem("darkMode", true);
            }
        });
        darkModeSwitchOff.click(function() {
            darkModeSwitchOff.hide();
            darkModeSwitchOn.show();
            darkMode = false;
            document.body.removeAttribute("data-theme");
            if (localStorage) {
                localStorage.setItem("darkMode", false);
            }
        });
