footer.mt-5
    .container
        small.text-muted
            hr
            .row.my-3
                .col-sm-7.text-left
                    if newBranding
                        | &copy; 2019 | Made by #[a(href='https://trax.am') traxam] and #[a(href='https://www.hytekgames.net') TeKGameR]. Not affiliated with Raft, Redbeet Interactive or Axolot Games.
                    else
                        | &copy; 2019 | Made by #[a(href='https://trax.am') traxam]. Not affiliated with RaftModding, Raft, Redbeet Interactive or Axolot Games.
                .col-sm-4.text-right
                    a(href='https://gitlab.com/traxam/raft-modding-website/issues').mx-1 Submit an issue
                    a(href='/contact').mx-1 Contact and #{newBranding ? 'disclaimers' : 'imprint'}
                    a(href='/terms').mx-1 Terms of Service
                    a(href='/privacy').mx-1 Privacy policy
                .col-sm-1.text-right
                    button(title='Turn off the lights').btn.btn-outline-secondary.text-center#darkModeSwitchOn 🌑
                    button(title='Turn on the lights').btn.btn-outline-secondary.text-center#darkModeSwitchOff ☀️
    script.
        var darkModeSwitchOn = $("#darkModeSwitchOn");
        var darkModeSwitchOff = $("#darkModeSwitchOff");
        var darkMode = false;

        $(function() {
            if (localStorage) {
                darkMode = localStorage.getItem("darkMode") == "true";
            }
            switchDarkMode(darkMode);

            // programmers, please look away, you won't be pleased
            // this delays adding the dark theme transition by 100ms to prevent
            // the screen from flashing. To be replaced with a server-side
            // solution
            setTimeout(function() {
                var transitionCSS = 'body { transition: background-color 0.5s, color 0.5s; }';
                var head = document.head || document.getElementsByTagName('head')[0];
                var style = document.createElement('style');
                head.appendChild(style);
                style.type = 'text/css';
                if (style.styleSheet) {
                    // https://stackoverflow.com/a/524721/5424404
                    style.styleSheet.cssText = transitionCSS;
                } else {
                    style.appendChild(document.createTextNode(transitionCSS));
                }
            }, 100);
        });

        function switchDarkMode(state) {
            if (state) {
                darkModeSwitchOn.hide();
                darkModeSwitchOff.show();
                darkMode = true;
                document.body.setAttribute("data-theme", "dark");
                if (localStorage) {
                    localStorage.setItem("darkMode", true);
                }
            } else {
                darkModeSwitchOff.hide();
                darkModeSwitchOn.show();
                darkMode = false;
                document.body.removeAttribute("data-theme");
                if (localStorage) {
                    localStorage.setItem("darkMode", false);
                }
            }
        }

        darkModeSwitchOn.click(function() {
            switchDarkMode(true);
        });
        darkModeSwitchOff.click(function() {
            switchDarkMode(false);
        });
