footer
    p
        | &copy; 2018 RaftModding. All rights reserved.
        | Website by trax.am
    p.disclaimer RaftModding is not affiliated, endorsed or associated in any way with Redbeet Interactive or Axolot
        | Games.