footer.mt-5
    .container
        small.text-muted
            hr
            .row.my-3
                div.col-sm-7.text-left
                    | &copy; 2019 | Made by #[a(href='https://trax.am') traxam].
                    | 
                    if newBranding
                        span Not affiliated with Raft, Redbeet Interactive or Axolot Games.
                    else
                        span Not affiliated with RaftModding, Raft, Redbeet Interactive or Axolot Games.
                div.col-sm-5.text-right
                    a(href='https://gitlab.com/traxam/raft-modding-website/issues').mx-1 Submit an issue
                    | 
                    a(href='/contact').mx-1 Contact and imprint
                    | 
                    a(href='/terms').mx-1 Terms of Service
                    | 
                    a(href='/privacy').mx-1 Privacy policy
