footer.mt-5
    div.container
        hr
        div.row.my-3
            div.col-sm-8.text-left
                | &copy; 2019 | Made by #[a(href='https://trax.am') traxam].
                | 
                span This website is in no way affiliated with RaftModding,
                    |  Raft, Redbeet Interactive or Axolot Games.
            div.col-sm-4.text-right
                a(href='/contact').mx-1 Contact and imprint
                | 
                a(href='/terms').mx-1 Terms of Service
                | 
                a(href='/privacy').mx-1 Privacy policy
