extends layout

block content
    div.row.justify-content-center.my-5.mx-1
        div
            div.card
                div.card-body
                    h5.card-title Reset password
                    div.alert.alert-warning #[i.fas.fa-hard-hat] This feature is 
                        | still work-in-progress. If you need a new password 
                        | right now, you can #[a(href='/contact') send us an email].
            ul.mt-2
                li Need an account? #[a(href='/signup?' + redirectQuery) Sign up]
                li Remembered your password? #[a(href='/signin?' + redirectQuery) Sign in]
