extends layout

block content
  div.index-section
    h1 Welcome to RaftModding.com
    p Click here to start browsing the latest Raft mods
      br
      br
      a.bigbutton(href='/mods') Browse Raft Mods
  div.index-section
    h1 What is RaftModding?
    p RaftModding is a modding community and a ModLoader for the game Raft developed by Redbeet Interactive. Feel free
    | to join our discord to see more screenshots, or if you want to learn how to mod using our ModLoader or just to
    | discuss.
