doctype html
html
  head
    title= (title + ' - RaftModding')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico')
  body
    include navigation
    div#content
      block content
    include footer
