mixin mod-card(mod)
    div.card.mod-card
        img(src=(mod.bannerImageUrl || '/images/Screenshot_14.png') alt=('banner image for the ' + mod.title + ' mod')).card-img-top
        div.card-body
            h5.card-title
                b #{mod.title}
                | 
                small.d-inline-block.text-muted by #[a(href=`/user/${mod.author}`)=mod.author]
                if mod['mod-versions']
                    small.text-muted
                        span.badge.badge-pill.badge-secondary.float-right=mod['mod-versions'][0].version
            p.card-text=mod.description
        div.pt-0.pb-3.card-footer.bg-white.border-0
            a(href='/mods/' + mod.id).btn.btn-primary View mod