extends mod-layout

block modContent
    div.card
        if mod.bannerImageUrl
            img(src=mod.bannerImageUrl alt=('banner for the ' + mod.title + ' mod')).card-img-top
        div.card-body
            div.card-text#mod-readme!=mod.readmeMarkdown
            p.card-text
                small.text-muted Last updated on #{new Date(mod.updatedAt).toISOString().split('T')[0]}