extends layout

block content
    div.index-section
        h1 Raft mods directory
        p(style='max-width: 100%;')
            | Here is a list of all raft mods that have been published on our site. If you are missing something or
            | have a great new idea, feel free to contact us on our #[a(href='/discord') Discord].
        div.mods-directory
            each mod in mods
                a(href='/mods/' + mod.id, style='background-image: url("' + (mod.bannerImageUrl || '/images/Screenshot_14.png') + '");').mod-card
                    div
                        h1=mod.title
                        p=mod.description
            a(href='/mods/add').mod-card
                div
                    h1 Yours?
                    p You can add your own mods!