extends layout

block content
    div.index-section
        h1 Raft mods directory
        p(style='max-width: 100%;') Description
        div.mods-directory
            a(href='/mods/hello').mod-card
                div
                    h1 hello
                    p This is a mod about whatever and something else, that has a long description.
            a(href='/mods/hello').mod-card
                div
                    h1 hello
                    p This is a mod about whatever and something else, that has a long description.
            a(href='/mods/hello').mod-card
                div
                    h1 hello
                    p This is a mod about whatever and something else, that has a long description.
            a(href='/mods/hello').mod-card
                div
                    h1 hello
                    p This is a mod about whatever and something else, that has a long description.
            a(href='/mods/hello').mod-card
                div
                    h1 hello
                    p This is a mod about whatever and something else, that has a long description.
            a(href='/mods/hello').mod-card
                div
                    h1 hello
                    p This is a mod about whatever and something else, that has a long description.
            a(href='/mods/hello').mod-card
                div
                    h1 hello
                    p This is a mod about whatever and something else, that has a long description.
            a(href='/mods/hello').mod-card
                div
                    h1 hello
                    p This is a mod about whatever and something else, that has a long description.