extends layout

block content
    section.my-3
        if !searchQuery
            h1 Raft mods directory
        else
            h1 Search results for '#{searchQuery}'
        p(style='max-width: 100%;')
            | Here is a list of all raft mods that have been published on our site. If you are missing something or
            | have a great new idea, feel free to contact us on our #[a(href='/discord') Discord].
    section.my-3
        .card.card.body
            form(method='get' action='/mods').form-inline
                input(name='q' type='search' placeholder='Type something and hit enter...' value=searchQuery).form-control.form-control-lg.border-0.w-100
                noscript
                    button(type='submit').btn.btn-sm.btn-outline-primary.m-1 Search...
    section.my-3
        div.card-columns
            include mod-card
            each mod in mods
                +mod-card(mod)
            div.card
                img(src='/images/Screenshot_14.png' alt=('default banner image')).card-img-top
                div.card-body
                    h5.card-title Yours
                    p.card-text You can add your own mods!
                    a(href='/mods/add').btn.btn-primary Add a mod