div#navigation
    img(src='/images/logo.png')
    div
        a(href='/') Home
        a(href='download') Download
        a(href='forum') Forums
        a(href='discord') Discord
        a(href='docs') Documentation
        a(href='#') Account