div#navigation
    div
        a(href='/')
            img(src='/images/logo.png')
        div
            a(href='/') Home
            a(href='/download') Download
            a(href='/mods') Mods
            a(href='/forum') Forums
            a(href='/discord') Discord
            a(href='/docs') Documentation
            if !loggedIn
                a(href='/signin') Sign in
            else
                a(href='/logout') Log out