extends layout

block content
    div.row.justify-content-center.my-5.mx-1
        div
            div.card
                div.card-body
                    h5.card-title Log in
                    if error
                        div.alert.alert-danger=error
                    form(method='post' action='/signin?' + redirectQuery)
                        div.form-group
                            label(for='username') Username
                            input(type='text' placeholder='Username' name='username').form-control#username
                        div.form-group
                            label(for='password') Password
                            input(type='password' placeholder='Password' name='password').form-control#password
                        button(type='submit').btn.btn-primary Log in
            ul
                li Need an account? #[a(href='/signup?' + redirectQuery) Sign up]
                li Forgot you password? #[a(href='/forgotpassword?' + redirectQuery) Request a new one]
