extends layout

block content
    div.index-section#formcontainer
        form(method='post' action='/signup?' + redirectQuery).login-container
            h1 Register
            if error
                div#error(style='background-color: red; color: white;')=error
            div(style='width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;')
                input(type='text' placeholder='Username' name='username')#username
                input(type='email' placeholder='your@mail.com' name='email')#email
                input(type='password' placeholder='Password' name='password')#password
            input(type='submit' value='Sign up' style='display: inline-block; padding: 8px 16px; color: white; font-weight: 600; background-color: green; width: auto; border-radius: 5px; box-shadow: 1px 2px 2px 2px rgba(1,1,1,0.1);')
        ul(style='text-align: left;')
            li Already have an account? #[a(href='/signin?' + redirectQuery) Sign in]