extends layout

block content
    div.row.justify-content-center.my-5.mx-1
        div
            div.card
                div.card-body
                    h5.card-title Sign up
                    if error
                        div.alert.alert-danger=error
                    form(method='post' action='/signup?' + redirectQuery)
                        div.form-group
                            label(for='username') Username
                            input(type='text' placeholder='Username' name='username').form-control#username
                        div.form-group
                            label(for='email') Email-Adress
                            input(type='email' placeholder='your@mail.com' name='email').form-control#email
                        div.form-group
                            label(for='password') Password
                            input(type='password' placeholder='Password' name='password').form-control#password
                        button(type='submit').btn.btn-primary Sign up
            ul
                li Already have an account? #[a(href='/signin?' + redirectQuery) Sign in]
            