mixin support-button-modal()
  div(tabindex='-1' role='dialog' aria-labelledby='support-modal-label' aria-hidden='true').modal.fade#support-modal
    div(role='document').modal-dialog.modal-dialog-centered
      .modal-content.border-0
        .modal-header.border-bottom-0
          h4.modal-title#support-modal-label Need support?
          button(type='button' data-dismiss='modal' aria-label='Close').close: span(aria-hidden='true') &times;
        .modal-body
          p
            | Is anything not working as expected? Don't worry, we've got you
            |  covered! Please join our #[a(href='/discord') Discord server]
            |  to talk to the developers and the community.
          ul
            li #[b Get help] with installing mods, plugins and more
            li #[b Suggest new ideas] for mods, plugins and other software
            li #[b Report bugs] and problems and help the developers fix them
            li Talk to the modding community
        .modal-footer.border-top-0.pt-0.d-flex.justify-content-between.align-items-center
          a(href='/contact').btn.btn-sm.btn-outline-secondary #[i.far.fa-envelope.mr-2] Contact us
          a(href='/discord' target='_blank' style='background-color: #7289DA;').btn.btn-primary.border-0.px-3.py-2#support-discord-link #[i.fab.fa-discord.mr-2] Join our #[b Discord server]
  script.
    $(".support-button").click(function(e) {
      e.preventDefault();
      $("#support-modal").modal("show");
    });
    $("#support-discord-link").click(function(e) {
      $("#support-modal").modal("hide");
    });
