extends layout

block content
    section.my-3
        h1.my-3 Terms of Service
        div.card
            div.card-body
                div.card-text
                    p
                        | This website is a service provided free of charge and
                        |  without any liability. This policy applies to every
                        |  use of the site and service. We reserve the right to
                        |  change these policies at any time.
                    h3 Reponsibility and intellectual property
                    p
                        | Mods published on this site remain the property of
                        |  their original creator or owner. Uploaded files are
                        |  stored on our servers but are the uploaders'
                        |  responsibility. We are not responsible for the
                        |  policing of data uploaded to our service.
                    h3 Copyright issues
                    p
                        | If uploads fall under a current, legal copyright,
                        |  owners of that copyright may submit proof of their
                        |  ownership to us in order to request a takedown of
                        |  their property. Please refer to the
                        | #[a(href='/contact') contact page] to get in touch.
                    h3 Abuse
                    p
                        | Any attempts to harm, damage or otherwise harm this
                        |  service will result in immediate termination upon
                        |  recognition. We may take action without warning and
                        |  file a lawsuit when discovering such abuse. Please
                        |  report any bugs or indications of abuse of our
                        |  service to us by using our
                        |  #[a(href='/contact') contact page]
                    h3 Termination of user accounts and content removal
                    p
                        | We withhold the right to remove any content and
                        |  terminate any account that are not in accordance with
                        |  our policies. Such decisions are made by us and are
                        |  not contestable.
