extends layout

block content
    section.my-5
        h1.my-3=`${user.username}'s mods`
        if authoredMods.length === 0
            i=`${user.username} hasn't published any mods yet.`
        else
            include mod/list
            +mod-list(authoredMods)
    if enableBundlesSection
        section.my-5
            h1.my-3=`${user.username}'s mod bundles`
            if maintainedBundles.length === 0
                i=`${user.username} hasn't published any mod bundles yet.`
            else
                include bundle/list
                +bundle-list(maintainedBundles)
