extends layout

block content
    div.index-section
        h1=`${user.username}'s mods`
        if authoredMods.length === 0
            i=`${user.username} hasn't published any mods yet.`
        else
            div.mods-directory
                each mod in authoredMods
                    a(href='/mods/' + mod.id, style='background-image: url("' + (mod.bannerImageUrl || '/images/Screenshot_14.png') + '");').mod-card
                        div
                            h1=mod.title
                            p=mod.description