extends layout

block content
    div.row.justify-content-center.my-5
        div.card.w-50
            div.card-header Hold on for a sec'...
            div.card-body
                h5.card-title=warning.title
                p.card-text.text-justify !{warning.text}
            div.card-footer
                a(href=continueLink).btn.btn-outline-danger Continue anyways
                | 
                a(href=(backLink || 'javascript:history.back()')).btn.btn-success.float-right Go back
