mixin addCard()
    .mod-card.card
        img(src=(greenhellBranding ? '/images/greenhellmodding/default_banner.png' : '/images/Screenshot_14.png') alt=('default banner image')).card-img-top
        .card-body
            h5.card-title Your mod?
            p.card-text You can add your own mods!
            a(href='/mods/add').btn.btn-success.stretched-link Add a mod
mixin emptyCard()
    .card.bg-transparent(style='box-shadow: none;')

mixin mod-list(mods)
    include card
    - var nRows = Math.floor(mods.length / 3) + 1;
    - var i = 0;
    while i < nRows
        .card-deck.my-3
            if (i * 3) === mods.length
                +addCard()
                +emptyCard()
                +emptyCard()
            else if (i * 3 + 1) === mods.length
                +mod-card(mods[i * 3])
                +addCard()
                +emptyCard()
            else if (i * 3 + 2) === mods.length
                +mod-card(mods[i * 3])
                +mod-card(mods[i * 3 + 1])
                +addCard()
            else
                +mod-card(mods[i * 3])
                +mod-card(mods[i * 3 + 1])
                +mod-card(mods[i * 3 + 2])
        - i++;
        