section#preview.collapse.my-3.mx-1
    -
        version = version || {
            version: 'vInfinity',
            changelog: 'Start filling out the form above and view all changes immediately in this preview!',
            downloadCount: 163,
        }
    div.row
        div.col-sm-9.my-3
            div.card.mb-3
                div.card-body
                    h5.card-title
                        | Version #[span#preview-version=version.version]
                        small.text-muted.mx-1
                            span.d-none#current-rml-version=rmlVersions.length > 0 ? rmlVersions[0].rmlVersion : undefined
                            if index === 0
                                span.badge.badge-pill.badge-success.mx-1 Latest
                            span#preview-compat.d-inline.badge.badge-pill.mx-1
                        div.float-right
                            a(href='#').btn.btn-sm.btn-primary.mx-1 Download
                                span(title=`${version.downloadCount} downloads`).ml-2.badge.badge-pill.badge-light.text-primary=version.downloadCount
                    div.card-text.mod-readme#preview-changelog!=version.changelog
                    p.card-text
                        small.text-muted #[i.fas.fa-info-circle.mr-1] The shown preview might slightly differ from the actual page.
        div.col-sm-3.my-3
            ul.list-group
                li.list-group-item
                    a(href='#')
                        b=mod.title
                li.list-group-item
                    i.fas.fa-info
                    |  Limited demo menu.
include ../markdown-converter
script.
    var markdown = $('#preview-changelog').text();
    $('#preview-changelog').html(markdownConverter.makeHtml(markdown));
    $('#version').on('input', function(event) {
        $('#preview-version').text(event.target.value);
    });
    $('#changelog').on('input', function(event) {
        $('#preview-changelog').html(markdownConverter.makeHtml(event.target.value));
    });

    var currentRmlVersion = $("#current-rml-version").text();
    function updateCompatibilityBadge() {
        var prevObj = $('#preview-compat');
        var minVersion = $('#min-rml-version').val();
        var maxVersion = $('#max-rml-version').val();
        var definiteVersionCap = $("#definite-version-cap").prop("checked");
        
        if (!minVersion) {
            prevObj.hide();
        } else {
            prevObj.show();
            var compat = {
                badge: 'badge-',
                text: '',
                tooltip: 'Compatible with RaftModLoader ' + minVersion,
            };
            if (maxVersion) {
                compat.tooltip += ' - ' + maxVersion;
            }
            compat.tooltip += '\n\n';
            if (maxVersion == currentRmlVersion) {
                compat.badge += 'success';
                compat.text = 'Compatible';
                compat.tooltip += 'This version has been tested on the latest RML release and should work properly.';
            } else if (!definiteVersionCap) {
                compat.badge += 'warning';
                compat.text = 'May be compatible';
                compat.tooltip += 'This version has not yet beed tested on the lastest RML release.';
            } else {
                compat.badge += 'danger';
                compat.text = 'Incompatible';
                compat.tooltip += 'This version is not supported on the latest RML release.';
            }
            prevObj.prop('title', compat.tooltip);
            prevObj.removeClass('badge-success');
            prevObj.removeClass('badge-danger');
            prevObj.removeClass('badge-warning');
            prevObj.addClass(compat.badge);
            prevObj.text(compat.text);
        }
    }
    $('#min-rml-version').change(updateCompatibilityBadge);
    $('#max-rml-version').change(updateCompatibilityBadge);
    $('#definite-version-cap').change(updateCompatibilityBadge);
    updateCompatibilityBadge();
