.navbar-brand > img {
  max-height: 48px;
}
.bg-blue {
  background-color: #3498db;
}
body {
  min-height: 100vh;
}
footer {
  background-color: #ecf0f1;
  font-size: smaller;
}
.hide {
  display: none;
}
.wide-content {
  max-width: 100vw;
  overflow-x: auto;
}
#mod-readme {
  img {
    max-width: 100%;
  }
}