// theming
@light-background: #f8f9fa;
@light-headline: #000;
@light-text: #212529;
@light-card: #fff;
@dark-background: #343a40;
@dark-headline: #fff;
@dark-text: #dee2e6;
@dark-card: #212529;
@dark-border: #495057;
@dark-success: #2ecc71;
@dark-input: @dark-card;

body {
  background-color: @light-background;
  color: @light-text;
  .jumbotron { background-color: @light-background; }
  h1, h2, h3, h4, h5 { color: @light-headline; }
  .card {
    background-color: @light-card;
    .card-footer { background-color: @light-card; }
  }
  .table { color: @light-text; }
}

body[data-theme="dark"] {
  background-color: @dark-background;
  color: @dark-text;
  .jumbotron { background-color: @dark-background; }
  h1, h2, h3, h4, h5 { color: @dark-headline; }
  .card {
    background-color: @dark-card;
    .card-footer { background-color: @dark-card; }
  }
  .table {
    color: @dark-text;
    border-color: @dark-border;
    th, td { border-color: @dark-border; }
    tr {
      &:hover { color: @dark-headline; }
      &.table-success, &.table-success > th, &.table-success > td {
        background-color: @dark-success;
        color: @dark-headline;
      }
    }
  }
  input:not([type="submit"]):not([type="button"]), input:focus, .custom-select, .custom-file-label, .custom-file-label::after, .CodeMirror, .input-group-prepend span, .input-group-append span {
    background-color: @dark-input;
    color: @dark-headline;
    border-color: @dark-border;
  }
  input:not([type="submit"]):not([type="button"])::placeholder {
    color: @dark-text;
  }
  input:not([type="submit"]):not([type="button"]) {
    &[disabled], &[readonly] {
      background-color: @dark-card;
      color: @dark-text;
    }
  }
  .editor-toolbar a {
    color: @dark-headline !important;
    &:hover, &.active { background-color: @dark-input !important; }
  }
  .CodeMirror-cursor { border-left-color: @dark-text; }
  .list-group-item { background-color: @dark-card; }
  .modal-content { background-color: @dark-card; }
}

.navbar-brand > img {
  max-height: 48px;
}
.bg-blue {
  background-color: #3498db;
}
body {
  min-height: 100vh;
}
.hide {
  display: none;
}
.wide-content {
  max-width: 100vw;
  overflow-x: auto;
}
.mod-readme img {
  max-width: 100%;
}
.mod-card > .card-img-top {
  height: 7rem;
  object-fit: cover;
}
.card:not([class*="border"]) {
  border: none;
}
.list-group, .card, .modal-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.alert {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
  border: none;
}
h1 {
  font-weight: bold;
}
.list-group {
  border-radius: .25rem;
  border-radius: .25rem;
  border: none;
}
.list-group-item {
  border-left: none;
  border-right: none;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-bottom: none;
  }
}
div.cc-window {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}
div.g-recaptcha.g-recaptcha-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.to-be-deleted {
  opacity: 0.5;
  transform: scale(0.9, 0.9);
  transition: 0.25s opacity, 0.25s transform;
  &:hover {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.stretched-link-exception {
  position: relative;
  z-index: 2;
}
.alerts {
  z-index: 3;
}
.like-button {
  transition: transform 0.2s, color 0.2s;
  transform: scale(1, 1);
}
.like-button.fas {
  transform: scale(1.2, 1.2);
  color: #e74c3c;
  animation-name: beating-heart;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes beating-heart {
  from {
    transform: scale(1.2, 1.2);
  }
  to {
    transform: scale(1.4, 1.4);
  }
}
@media (max-width: 575px) {
  .responsive-3-col-arrow {
    transform: rotate(90deg);
  }
}
@media (min-width: 576px) {
  .card-columns.card-columns-2 {
    column-count: 2;
  }
}
@media (max-width: 991px) {
  .nav-item {
    i.fas, i.fab {
      width: 20px;
    }
  }
}
