extends ../layout

prepend pageVariables
    - title = 'Donate'

block content
    section.my-5
        .jumbotron.bg-transparent
            .row
                .col-sm-1
                .col-sm-3.text-center: i.fas.fa-donate.fa-10x.my-4
                .col-sm-8
                    h1 Want to support us?
                    p.lead
                        | You can donate to help us and contribute to our server
                        |  fees, assets we might buy and services we rent each
                        |  month in order to give you the best modding
                        |  experience on Raft.
                    a(href='https://www.patreon.com/bePatron?u=13242555' style='background-color: #f96854; border-color: #f96854;').btn.btn-success.btn-lg.mr-2.mb-2 #[i.fab.fa-patreon.mr-2] Support us on Patreon
                    form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top').form-inline.d-inline
                        input(type='hidden' name='cmd' value='_s-xclick')
                        input(type='hidden' name='hosted_button_id' value='2BXL63FKQ55Z6')
                        button(type='submit' style='background-color: #0079C1; border-color: #0079C1;').btn.btn-primary.mr-2.mb-2 #[i.fab.fa-paypal.mr-2] Tip us on PayPal
