extends ../layout

block content
    section.my-5.mx-1
        .card.mb-3
            .card-body
                h5.card-title Add a mod loader version
                form(method='post' action='/server/add' enctype='multipart/form-data')
                    .form-group
                        label(for='version') Dedicated server version
                        input(type='text' placeholder='a.b.c' name='version' maxlength='64' value=formContents.version required='required').form-control#version
                    .form-group
                        label(for='raft-version') Raft version
                        input(type='text' placeholder='Update X' name='raftVersion' aria-describedby='raftVersionHelp' maxlength='255' value=formContents.raftVersion required='required').form-control#raft-version
                        small.text-muted#raftVersionHelp The update of Raft this loader release was compiled for.
                    .form-group
                        label(for='changelog') Changelog
                        textarea(placeholder='# Changelog for Raft Dedicated Server version a.b.c\n * Explain what has changed.' name='changelog' aria-describedby='changelogHelp' required='required').form-control#changelog=formContents.changelog
                        small.text-muted#changelogHelp A changelog for this version.
                    .form-group
                        label(for='downloadUrl') Download URL
                        input(type='url' placeholder='/server/a.b.c/file.exe' name='downloadUrl' aria-describedby='downloadUrlHelp' value=formContents.downloadUrl).form-control#downloadUrl
                        small.text-muted#downloadUrlHelp Enter a link to the file / download page #[b or] upload a file below.
                    .custom-file.my-3
                        label(for='file').custom-file-label#labelForFile Release binary file
                        input(type='file' name='file' aria-describedby='fileHelp').custom-file-input#file
                        small.text-muted#fileHelp Upload a file #[b or] enter a link to the file / download page above.
                    hr
                    input(type='submit' value='Submit dedicated server version').btn.btn-success
                    button(type='button' data-toggle='collapse' data-target='#preview' aria-expanded='false' aria-controls='preview').mx-1.btn.btn-outline-primary Preview changelog page
                    a(href='/server').btn.btn-outline-danger Discard draft
        ul
            li #[a(href='/server') Go back to the downloads overview]
    include preview
    link(rel='stylesheet' href='/assets/simplemde/simplemde.min.css')
    script.
        $('#file').change(e => e.currentTarget.files.length >= 1 ? $('#labelForFile').text(e.currentTarget.files[0].name) : $('#labelForFile').text('Release binary file'))
    script(src='/assets/simplemde/simplemde.min.js')
    script new SimpleMDE({element: document.getElementById('changelog'), forceSync: true});
